
.jumbotron {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-color: rgb(130, 204, 214);
  padding: 3rem;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: rgb(14, 13, 13);
  background-color: antiquewhite;
  padding: 3rem;
  box-sizing: border-box;
}